.pbarnav{
   
}
.fa-solid {
    justify-items: center;
    margin: 0%;
    font-size: 20px;
    margin-left: 57rem;
    text-decoration: none;
}
.connexionn {
    justify-items: center;
    margin: 0%;
    font-size: 20px;
    margin-left: 57rem;
    text-decoration: none;
}