.bgimage {
    background-image: url(../img/products/spiderjordan1.jpeg);
    /*lien de mon background*/
    background-size: contain;
    /*  l'image de fond est contenue dans la zone définie par l'élément*/
    background-repeat: no-repeat;
    /* l'image de fond ne doit pas se répéter */
    height: 700px;
    /*  la hauteur de l'élément */
    width: 100%;
    /*  largeur de l'élément */
    background-position: center;
    margin-top: 2rem;
}
@media screen and (max-width: 768px) {
    .bgimage {
        background-image: url(../img/products/spiderjordan1.jpeg);
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.h11111 {
    margin-top: 14%;
    /* la marge supérieure de l'élément à 14%*/
}



/* balise p a l'intérieur de or- separator */
.or-separator p {
    background-color: #FFF4F4;
    /*fonde blanc*/
    position: relative;
    /*pour mettre les balises (p) relative à leur position normale dans le flux du document*/
    width: 50px;
    /*  largeur de l'élément */
    text-align: center;
    /*pour mettre le text au centre*/
    padding: 5px 10px;
    /* un espace interne de 5pixel en haut et en bas et 10 pixel à gauche et a droite à l'intérieur des éléments */
}

