#carouselExampleIndicators {
    height: 650px;
}

#carouselExampleIndicators img {
    height: 670px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-top: 20px;
}

.airjordan1 {
    color: white;
    margin-top: 9rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.bgimage1 {
    background-image: url(../img/products/shoes/1/1_4.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.link1 {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.button1 {
    height: 4vh;
    border-radius: 12px;
    width: 70px;
    text-decoration: none;
}
.bgimage2 {
    background-image: url(../img/products/shoes/1/1_5.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage3 {
    background-image: url(../img/products/shoes/1/1_6.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage4 {
    background-image: url(../img/products/shoes/1/1_7.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.balenciaga {
    color: white;
    margin-left: 3rem;
    margin-bottom: 20px;
}
.bgimage5 {
    background-image: url(../img/products/shoes/1/1_8.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage6 {
    background-image: url(../img/products/shoes/1/1_9.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage7 {
    background-image: url(../img/products/shoes/1/2_1.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage8 {
    background-image: url(../img/products/shoes/1/2_2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage9 {
    background-image: url(../img/products/shoes/1/2_3.avif);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage91 {
    background-image: url(../img/products/shoes/1/2_4.avif);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage92 {
    background-image: url(../img/products/shoes/1/2_5.avif);
    background-size: contain;
    background-repeat: no-repeat;
}
.bgimage93 {
    background-image: url(../img/products/shoes/1/2_6.avif);
    background-size: contain;
    background-repeat: no-repeat;
}


