/*jai ajouter a mon body 0 margin et 0 padding pour pas avoir des decalages et jai ajouter aussi une background image noir*/
body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(11, 11, 11);
}
.indexbg {
    background-image: url(../img/spidermaaan.jpg); /*background image*/
    width: 100%; /* largeur de élément(background) */
    height: 810px;/* hauteur de élément(background) */
    background-size: cover; /* cover pour couvrir toute la zone */
}
/*ajouter une couche sur l'image*/
.overlay {
    width: 100%; /* largeur de élément(background) */
    height: 810px;/* hauteur de élément(background) */
    background-color: rgba(0, 0, 0, 0.3); /*jai ajouter aussi une background image noir */
    display: flex; /* j'ai aussi ajouter (display flex) pour active le mode flexbox pour l'élément pour les positionner plus facile et plus flexible */
    flex-direction: column;/*j'ai aussi ajouter (flex-direction column) pour que les éléments seront empilés verticalement */
    align-items: center; /*pour centre mon element*/
    justify-content: space-around; /* pour donner un espaces égaux autour de chaque élément */
}

.btnbgmain {
    border-radius: 5px; /* pour arrondir les coins de l'élément à 5 pixels */
    background-color: transparent; /* Cela définit la couleur de fond de l'élément comme transparente, ce qui signifie qu'il n'y aura pas de couleur de fond visible */
    font-size: 40px; /* la taille de la police de l'élément à 40 pixels */
    color: white; /*couleur du texte blanc */
    width: 14rem;
}

/*fin*/

/*mon text dans le bg image A2Spider*/

.h1bgmain {
    color: white; /* la couleur du text */
    font-size: 100px; /* la taille de la police de l'élément à 100 pixels */
    font-family: 'Creepster';  /* j'ai une polices utilisée pour le text la police nommée (Creepster)  */
    text-shadow: 0 0 3px black; /* pour ajouter une ombre au texte */
}

/*fin*/


@media (max-width: 767px) {
    .indexbg {
        height: 400px;
    }
    .overlay {
        height: 400px;
    }
    .h1bgmain {
        font-size: 60px;
    }
    .btnbgmain {
        font-size: 20px;
        margin-top: 3rem;
        margin-bottom: 4rem;
        width: 10rem;
    }
}