.bgimageregister {
    background-image: url(../img/products/shoes/bgregister.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    width: 100%;
    background-position: center;
    
    
}